<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Edit</title>
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="css/book_entry/style.css">
    <script src="https://kit.fontawesome.com/76f853596c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/common/nav.css">

</head>

<body style="margin: 0px;padding : 0px">
    <div class="navbar">
        <a href="/"> <img class="nav-logo-img" src="images/index/logo.png"></a>
        <a href="/" class="nav-title-a">
            <h2 class="form-title" style="color: black; padding-top:10px    ;">Book Search</h2>
        </a>

        <div class="dropdown">
            <button class="dropbtn"><i style="color: black; margin-left:0px;" class="fas fa-user-circle fa-2x"></i>
                </i>
            </button>
            <div class="dropdown-content">
                <a href="/logout"><i class="fas fa-sign-out-alt dropdown-list-item"></i>logout</a>
                <a href="/"><i class="fas fa-home dropdown-list-item"></i>index</a>
                <a href="/profile"><i class="fas fa-id-badge dropdown-list-item "></i>Profile</a>
                <a href="/book_entry"><i class="fas fa-clipboard-list dropdown-list-item"></i>book entry</a>
                <!-- <a href="/"></a> -->
            </div>
        </div>
    </div>

    <div class="main">
        <section class="sign-in">
            <div class="container">
                <form method="post" class="register-form" id="login-form" action="/mysql/book_update">

                    <div class="signin-content">


                        <div class="signin-image">
                            <figure>
                                <input type="file"  name="img_id" id="img_id"
                                    value="<%= img_id %>" onchange="readURL(this);"
                                    style="margin: auto;margin-bottom: 5px;" />
                                <img id="book_image" src="images/books/<%= img_id%>" alt="your image"
                                    style="width:180px;height:270px;" />
                            </figure>
                        </div>

              

                        <div class="signin-form">
                            <h2 class="form-title">Book UPDATE</h2>

                            <div class="form-group">
                                <label for="book_id"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" readonly required="required" name="book_id" id="book_id"
                                    placeholder="Book Title" value=<%= Book_id %> />
                            </div>

                            <div class="form-group">
                                <label for="book_title"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" required="required" name="title" id="book_title"
                                    placeholder="Book Title" value="<%= title%>" />
                            </div>
                            <div class="form-group">
                                <label for="author"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="author" required="required" id="book-author"
                                    placeholder="Author" value="<%=author%>" />
                            </div>

                            <div class="form-group">
                                <label for="Publisher"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="publisher" id="book-publisher" placeholder="Publisher"
                                    value="<%=publisher%>" />
                            </div>

                            <div class="form-group">
                                <label for="edition"><i class="zmdi zmdi-lock"></i></label>
                                <input type="number" name="edition" id="book-edition" placeholder="Edition"
                                    value="<%= edition %>" />
                            </div>

                            <div class="form-group">
                                <label for="year"><i class="zmdi zmdi-lock"></i></label>
                                <input type="text" name="for_year" id="book-ref-year" placeholder="For year"
                                    value="<%=for_year%>" />
                            </div>

                            <div class="form-group">
                                <label for="subject"><i class="zmdi zmdi-lock"></i></label>
                                <input name="subject" list="subjects" id="book-subject" placeholder="Subject"
                                    value="<%= subject %>" />


                                <datalist id="subjects">

                                </datalist>


                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="UPDATE" />
                            </div>

                </form>


            </div>
    </div>
    </div>
    </section>
    </div>
</body>
<script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
  
        reader.onload = function (e) {
          $('#book_image')
            .attr('src', e.target.result)
            .width(180)
            .height(270);
        };
  
        reader.readAsDataURL(input.files[0]);
      }
    }
  </script>
  

<script src="js/jquery-3.4.1.js"></script>
<script src="js/book_edit/book_edit.js"></script>

</html>